/* Appt.css */

/* Basic styling for the header */
header {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.logout-button {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 10px 20px;
    background-color: #02b7a5;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 28px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 60px;
    height: 60px;
    display: inline-block;
}

.logout-button:hover {
    background-color: #cae9e2;
}